<script>
	//indexMatching();
</script>
<div class="container shadow p-3 bg-white rounded">
	<div class="row align-items-center mx-5" id="">
		<div class="col-4 bg-light text-secondary rounded text-center">
			<h2 class="display-5">Error 404</h2>
			<h4>Page Not Found</h4>
			<p>Sorry unable to locate this page.</p>
		</div>
		<div class="col-8 p-0">
			<img class="img-fluid" src="/media/image/runners.png" alt="" />
		</div>
	</div>
	<div class="row mx-5" id="">
		<div class="text-center"><a class="text-white no-link-line btn btn-primary" href="/#home">Go to Homepage</a>
		</div>
	</div>
</div>